<div class="row">
  <div class="col-xs-12">
    <h4>{{(finalSelectedRecipeState | async).recipes[id].name}}</h4>
    <h6>{{(finalSelectedRecipeState | async).recipes[id].description}}</h6>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="(finalSelectedRecipeState | async).recipes[id].imagePath" alt="(finalSelectedRecipeState | async).recipes[id].name" class="img-responsive" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Recipe
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a class="pointer" (click)="addIngredientsToShoppingList()">Shopping List</a></li>
        <li><a class="pointer" (click)="editRecipe()">Edit Recipe</a></li>
        <li><a class="pointer" (click)="deleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row margin-top">
  <div class="col-xs-12">
    <label>Ingredients:</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let ingredient of (finalSelectedRecipeState | async).recipes[id].ingredients">{{ingredient.name}} ({{ingredient.amount}})</a>
    </div>
  </div>
</div>
