<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Recipe Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>Manage<span class="caret"></span></a></li>
      <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a (click)="onLogin()">{{loginButton?'Login':'Logout'}}<span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
  </div>
</nav>

