<form (ngSubmit)="onAdd(f)" #f="ngForm">
  <div class="row">
    <div class="col-xs-5 form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" ngModel required>
    </div>
    <div class="col-xs-2 form-group">
      <label for="amount">Amount:</label>
      <input type="text" class="form-control" id="amount" name="amount" ngModel required>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
      <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>


