<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home">Recipe Book</a></li>
      <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown pointer" *ngIf="(authState | async).authenticated">
        <a class="dropdown-toggle" data-toggle="dropdown">Manage
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="pointer" (click)="onSaveRecipes()">Save Recipe</a></li>
          <li><a class="pointer" (click)="onFetchRecipes()">Fetch Recipe</a></li>
        </ul>
      </li>
      <li routerLinkActive="active" *ngIf="!(authState | async).authenticated"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li routerLinkActive="active" *ngIf="!(authState | async).authenticated"><a routerLink="/login">Login</a></li>
      <li class="pointer" *ngIf="(authState | async).authenticated"><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>

