<nav class="navbar navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">{{title}}</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
      <li routerLinkActive="active"><a routerLink="/heroes">Heroes</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
