<h4>{{statusMsg}}</h4>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" id="fname" name="fname" ngModel required>
    </div>
    <div class="col-xs-12 form-group">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" id="lname" name="lname" ngModel required>
    </div>
    <div class="col-xs-12 form-group">
      <hr />
    </div>
    <div class="col-xs-12 form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" ngModel required email>
    </div>
    <div class="col-xs-12 form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
      <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
