<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" ngModel required email>
    </div>
    <div class="col-xs-12 form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Login</button>
      <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
